# Minimum Django and REST framework version
-e .
Django>=3.2.9
djangorestframework>=3.13.1
django-friendship>=1.9.4

# Test requirements
pytest-django
pytest-flake8
pytest
factory-boy

# wheel for PyPI installs
wheel

# MkDocs for documentation previews/deploys
mkdocs
