# Minimum Django and REST framework version
Django>=4.0.1
djangorestframework>=3.13.1
django-friendship>=1.9.4

# Test requirements
pytest-django
pytest
pytest-cov
factory-boy
flake8

# wheel for PyPI installs
wheel

# MkDocs for documentation previews/deploys
mkdocs
